body,
html {
	background-color: #000;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	padding: 10px 0;
}

.navbar #brand {
	margin-left: 20px;
	width: 120px;
}

.navbar .nav-link {
	margin: 0;
	padding: 0;
}

.navbar .nav-link img {
	width: 20px;
}

.navbar .navbar-nav {
	margin-right: 20px;
}

.navbar #navbar-menu .nav-item,
.navbar #navbar-menu .nav-link,
.navbar #navbar-menu .navbar-nav {
	display: inline-block;
	margin-left: 5px;
}

/**
 * Extra small devices (portrait phones, less than 576px)
 * No media query for 'xs' since this is the default in Bootstrap
 */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.holder .lead-2 {
		width: 150px;
		margin-left: -10px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.holder .lead-2 {
		width: 230px;
		margin-left: -15px;
	}
	.navbar #brand {
		margin-left: 50px;
		width: 190px;
	}
	.navbar .navbar-nav {
		margin-right: 42px;
	}
	.navbar .nav-link img {
		width: 32px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}