html,
body {
	scroll-behavior: smooth;
}
.main-menu {
	position: absolute;
	top: 44px;
	width: 100%;
	height: calc(100% - 44px);
}
.menu.item {
	width: 100%;
	height: calc(100% / 6);
}
.menu.item h1 {
	padding: 0 20px;
}
.menu.item h1::after {
	position: absolute;
	right: 20px;
	content: "+";
	color: #fff;
}
.menu.item h1.active::after {
	right: 22px;
	content: "\02013";
	color: #fff;
}
.menu.content {
	height: 0;
	padding: 0 20px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.lead-control {
	display: none;
}
.menu.content.active {
	height: calc(100% - (100% / 6));
}
.lead-control.active {
	display: block;
}
#profile-content,
#services-content {
	font-size: 0.9rem;
}
#services-dummy {
	position: fixed;
	top: 44px;
	left: 0px;
	z-index: 10;
	display: none;
	width: 100%;
	height: calc(100% / 6);
	padding: 40px 20px;
}
#services-dummy h1::after {
	position: absolute;
	right: 22px;
	z-index: 15;
	content: "\02013";
	color: #fff;
}
#services-content {
	padding-left: 0px;
	padding-right: 0px;
}
#services-content.active {
	height: calc((100% - (100% / 6)) * 2);
}
#services-content .list-group {
	margin: 0;
	padding: 0;
}
#services-content .list-group-item {
	margin: 0;
	padding: 0 0;
	border: none;
	background-color: transparent;
}
#services-content div[class*="row"]:nth-child(1),
#services-content div[class*="row"]:nth-child(2) {
	height: 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#services-content div[class*="row"]:nth-child(2) .lead-control {
	padding-left: 20px;
	padding-right: 20px;
}
#services-content .image-holder {
	width: 100%;
	height: 100%;
}
#services-content .image-holder img {
	width: 100%;
	height: 100%;
}
#services-content .page-down-button {
	position: absolute;
	bottom: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border: none;
	background-color: transparent;
	font-size: 2rem;
}
#network-content #article-carousel {
	margin-top: 60px;
}
.carousel-control-prev {
	left: -20px;
}
.carousel-control-next {
	right: -20px;
}
#experiential-content {
	font-size: 0.9rem;
}
#experiential-content .row div:nth-of-type(2),
#experiential-content .row div:nth-of-type(3),
#experiential-content .row div:nth-of-type(4) {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#experiential-content .row div:nth-of-type(1) {
	margin-top: 10px;
}
#experiential-content .row div:nth-of-type(2) {
	width: 240px;
	bottom: -200px;
}
#experiential-content .row div:nth-of-type(3) {
	width: 260px;
	bottom: -240px;
}
#experiential-content .row div:nth-of-type(4) {
	width: 140px;
	bottom: -280px;
}
#connect-content {
	background-image: url("../../images/connect.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#connect-content .lead-control {
	padding-bottom: 20px;
}
@media (min-width: 992px) {
	.main-menu {
		top: 52px;
		height: calc(100% - 52px);
	}
	.menu.item h1 {
		padding: 0 50px;
	}
	.menu.item h1::after {
		right: 50px;
	}
	.menu.item h1.active::after {
		right: 48px;
	}
	.menu.content {
		padding: 0 50px;
	}
	.menu.content.active {
		height: calc(100% - 144px);
	}
	#profile-content {
		font-size: 1.3rem;
		letter-spacing: 1.5px;
		text-align: justify;
	}
	#services-content {
		background-image: url("../../images/services.jpg");
		background-size: cover;
		background-position: right center;
		background-repeat: no-repeat;
	}
	#services-content {
		font-size: 1.6rem;
		letter-spacing: 1.5px;
		text-align: justify;
	}
	#services-content ul:nth-of-type(2) {
		margin-left: 40px;
	}
	.carousel-control-prev {
		left: -40px;
	}
	.carousel-control-next {
		right: -40px;
	}
	#experiential-content {
		font-size: 1.8rem;
		letter-spacing: 1.5px;
		text-align: justify;
	}
	#experiential-content .row div:nth-of-type(2),
	#experiential-content .row div:nth-of-type(3),
	#experiential-content .row div:nth-of-type(4) {
		position: relative;
	}
	#experiential-content .row div:nth-of-type(1) {
		margin-top: 50px;
	}
	#experiential-content .row div:nth-of-type(2) {
		width: 100%;
		bottom: 0;
	}
	#experiential-content .row div:nth-of-type(3) {
		width: 100%;
		bottom: 0;
	}
	#experiential-content .row div:nth-of-type(4) {
		width: 100%;
		bottom: 0;
	}
	#connect-content {
		font-size: 1.6rem;
		letter-spacing: 1.5px;
		text-align: justify;
	}
	#connect-content .lead-control {
		padding-bottom: 20px;
	}
}
@media (min-width: 1200px) {
	#profile-content {
		font-size: 1.3rem;
	}
	#services-content ul:nth-of-type(2) {
		margin-left: 120px;
	}
	#experiential-content {
		font-size: 1.8rem;
	}
	#connect-content {
		font-size: 1.7rem;
	}
}
@media (pointer: none), (pointer: coarse) and (min-width: 359px) {
	#profile-content {
		font-size: 1.03rem;
	}
	#services-content {
		font-size: 1.06rem;
	}
	#experiential-content {
		font-size: 1.05rem;
	}
	#experiential-content .row div:nth-of-type(2) {
		width: 240px;
		bottom: -240px;
	}
	#experiential-content .row div:nth-of-type(3) {
		width: 260px;
		bottom: -280px;
	}
	#experiential-content .row div:nth-of-type(4) {
		width: 140px;
		bottom: -320px;
	}
}
@media (pointer: none), (pointer: coarse) and (min-width: 374px) {
	#profile-content {
		font-size: 1.08rem;
	}
	#services-content {
		font-size: 1.1rem;
	}
	#experiential-content {
		font-size: 1.15rem;
	}
	#experiential-content .row div:nth-of-type(2) {
		width: 240px;
		bottom: -250px;
	}
	#experiential-content .row div:nth-of-type(3) {
		width: 260px;
		bottom: -290px;
	}
	#experiential-content .row div:nth-of-type(4) {
		width: 140px;
		bottom: -330px;
	}
	#connect-content {
		font-size: 1rem;
	}
}
@media (pointer: none),
	(pointer: coarse) and (min-width: 374px) and (min-height: 810px) {
	#profile-content {
		font-size: 1.2rem;
	}
	#services-content {
		font-size: 1.3rem;
	}
	#network-content #article-carousel {
		margin-top: 100px;
	}
	#experiential-content {
		font-size: 1.27rem;
		letter-spacing: 1px;
	}
	#experiential-content .row div:nth-of-type(2) {
		width: 240px;
		bottom: -350px;
	}
	#experiential-content .row div:nth-of-type(3) {
		width: 260px;
		bottom: -390px;
	}
	#experiential-content .row div:nth-of-type(4) {
		width: 140px;
		bottom: -430px;
	}
	#connect-content {
		font-size: 1.2rem;
	}
	#connect-content .lead-control {
		padding-bottom: 40px;
	}
}
@media (pointer: none), (pointer: coarse) and (min-width: 410px) {
	#profile-content,
	#services-content {
		font-size: 1.2rem;
	}
	#experiential-content {
		font-size: 1.3rem;
	}
	#experiential-content .row div:nth-of-type(2) {
		width: 240px;
		bottom: -290px;
	}
	#experiential-content .row div:nth-of-type(3) {
		width: 260px;
		bottom: -330px;
	}
	#experiential-content .row div:nth-of-type(4) {
		width: 140px;
		bottom: -370px;
	}
	#connect-content {
		font-size: 1.1rem;
	}
}
@media (pointer: none),
	(pointer: coarse) and (min-width: 410px) and (min-height: 810px) {
	#profile-content {
		font-size: 1.25rem;
	}
	#experiential-content {
		font-size: 1.22rem;
	}
	#experiential-content .row div:nth-of-type(2) {
		width: 240px;
		bottom: -290px;
	}
	#experiential-content .row div:nth-of-type(3) {
		width: 260px;
		bottom: -330px;
	}
	#experiential-content .row div:nth-of-type(4) {
		width: 140px;
		bottom: -370px;
	}
}