.main-menu {
    position: absolute;
    top: 52px;
    width: 100%;
    height: calc(100% - 52px);
}

.menu.item {
    height: calc(100% / 6);
}

.menu.item h1 {
    padding: 0px 50px;
}

.menu.item h1::after {
    position: absolute;
    right: 50px;
    content: "+";
    color: white;
}

.menu.item h1.active::after {
    right: 48px;
    content: "\02013";
    color: white;
}

.menu.content {
    height: 0px;
    padding: 0px 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.lead-control {
    display: none;
}

.menu.content.active {
    height: calc(100% - 92px);
}

.lead-control.active {
    display: block;
}

#profile-content {
    background-image: url('../../images/profile.jpg');
    background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
}

#services-content {
    background-image: url('../../images/services.jpg');
    background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
}

#services-content .list-group {
    margin: 0px;
    padding: 0px;
}

#services-content .list-group-item {
    margin: 0px;
    padding: 5px 0px;
    border: none;
    background-color: transparent;
}

.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}

#connect-content {
    background-image: url('../../images/connect.jpg');
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#connect-content .lead-control {
    padding-bottom: 20px;
}