.loader {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: #252525;
}

.holder {
    min-width: 100%;
    height: 100%;
    padding: 0px;
}

.holder .lead-1 {
    color: white;
}

.holder .lead-2 {
    width: 300px;
    margin-left: -20px;
    background:
        linear-gradient(to right,
            red,
            red 2%,
            red 2%,
            white 2%,
            white 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/** ===========================================================
 * Small devices (landscape phones, 576px and up)
 * ============================================================ */

@media (min-width: 576px) {
    .holder {
        width: 400px;
    }

    .holder img {
        width: 400px;
    }

    .cover {
        width: 150px;
        height: 43px;
    }
}

/** ===========================================================
 * Medium devices (tablets, 768px and up)
 * ============================================================ */

@media (min-width: 768px) {}

/** ===========================================================
 * Large devices (desktops, 992px and up)
 * ============================================================ */

@media (min-width: 992px) {}

/** ===========================================================
 * Extra large devices (large desktops, 1200px and up)
 * ============================================================ */

@media (min-width: 1200px) {}